.alert-body {
	background: linear-gradient(to right, #ff007a 50%, transparent 50%);
	background-size: 200% 100%;
	background-position: right bottom;
	transition: all 0.5s ease-in;
	background-color: rgb(29, 127, 255);
	display: flex;
	justify-content: center;
	margin-top: 15px;
	margin-bottom: 15px;
}

.alert-body:hover {
	background-position: left bottom;
}
